venv/
__pycache__
*.egg-info
*.DS_Store
._*
.idea/
.vscode/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.model
checkpoints/.cache
checkpoints/*temp
checkpoints/.msc
checkpoints/.mv
outputs/
build/
