--extra-index-url https://download.pytorch.org/whl/cu128
transformers==4.36.2
tokenizers
einops
accelerate
cn2an
ffmpeg-python
Cython
g2p-en
jieba
keras
numba
numpy
pandas
matplotlib
opencv-python
vocos
tensorboard
torch
torchvision
torchaudio
omegaconf
sentencepiece
librosa
gradio
tqdm
deepspeed
ruff
modelscope

WeTextProcessing; platform_machine != "Darwin"
wetext; platform_system == "Darwin"
