--extra-index-url https://download.pytorch.org/whl/cu128
transformers==4.48.3
tokenizers
einops
accelerate
cn2an
ffmpeg-python
Cython
g2p-en
jieba
keras
numba
numpy
pandas
matplotlib
opencv-python
vocos
tensorboard
torch
torchaudio
omegaconf
sentencepiece
librosa
gradio
tqdm
deepspeed; platform_system != "Windows"
ruff
modelscope

wetext; platform_system != "Linux"
WeTextProcessing; platform_system == "Linux"

# torch-tensorrt; platform_system == "Linux"

# WeTextProcessing; platform_system != "Darwin"
# wetext; platform_system == "Darwin"
